name: String contain assertion test
on:
  pull_request:
  push:
jobs:
    build:
        name: circom 
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repo
            uses: actions/checkout@v3
          - name: Run the build process with Docker
            uses: addnab/docker-run-action@v3
            with:
                image: pleiadex/amd64-circom:2.0.5
                shell: bash
                options: -v ${{ github.workspace }}:/var/www
                run: |
                      source "$HOME/.cargo/env"
                      circom --help
                      ls /var/www
                      node
