name: String contain assertion test
on:
  pull_request:
  push:
jobs:
  test:
    name: string contain test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
#     - uses: GuillaumeFalourd/assert-command-line-output@v2.1
#       with:
#         command_line: cat result.txt
#         assert_file_path: result.txt
#         expected_result: FAILED
    - run : cat result.txt

    - uses: actions/checkout@v2.3.4
    - uses: GuillaumeFalourd/diff-action@v1
      with:
        first_file_path: result.txt
        second_file_path: result.txt
        expected_result: PASSED
