name: String contain assertion test
on:
  pull_request:
  push:
jobs:
    build:
        name: circom 
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repo
            uses: actions/checkout@v2
          - name: Run the build process with Docker
            uses: addnab/docker-run-action@v3
            with:
                image: pleiadex/amd64-circom:2.0.5
                options: -v ${{ github.workspace }}:/var/www
                run: |
                      cd circom-2.0.5
                      cargo build --release && cargo install --path circom
                      circom --help
